<%=
  helpers.content_tag :div,
                      class: filter_classes,
                      data: {
                        "filter--filters-form-target": "filterForm"
                      } do
%>

  <% if lazy_loaded? %>

    <%=
      helpers.turbo_frame_tag(
        TURBO_FRAME_ID,
        src: lazy_turbo_frame_src,
        target: "_top",
        loading: "lazy",
        data: { turbo: false }
      ) do
        render Primer::Alpha::SkeletonBox.new(
          width: "100%",
          height: skeleton_height
        )
      end
    %>

  <% else %>

    <%= helpers.turbo_frame_tag TURBO_FRAME_ID do %>
      <%= primer_form_with(
            url: {},
            method: :get,
            data: {
              action: "submit->filter--filters-form#sendForm:prevent"
            }
          ) do |f| %>
        <%= render(Primer::Beta::BorderBox.new) do |box| %>
          <% box.with_body do %>
            <%= render(Primer::Forms::FormList.new(*inputs(f))) %>
            <% unless turbo_requests? %>
              <div class="advanced-filters--actions">
                <%= render(Primer::Beta::Button.new(
                      scheme: :secondary,
                      type: :button,
                      data: { action: "filter--filters-form#toggleDisplayFilters" }
                    )) { t("js.close_form_title") } %>
                <%= render(Primer::Beta::Button.new(type: :submit, scheme: :primary)) { t("button_apply") } %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
