<%#-- copyright
OpenProject is an open source project management software.
Copyright (C) the OpenProject GmbH

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See COPYRIGHT and LICENSE files for more details.

++#%>

<% unless @ifc_model.new_record? %>
  <div class="form--field -required">
    <%= f.text_field :title, required: true, container_class: "-wide" %>
  </div>
<% end %>

<% if OpenProject::Configuration.direct_uploads? %>
  <% Hash(@form).each do |key, value| %>
    <input type="hidden" name="<%= key %>" value="<%= value %>">
  <% end %>
<% end %>

<div class="form--field <%= @ifc_model.new_record? ? "-required" : "" %>">
  <% if OpenProject::Configuration.direct_uploads? %>
    <input class="form--file-field" type="file" name="file" accept=".ifc">
  <% else %>
    <%= f.file_field :ifc_attachment, accept: ".ifc" %>
  <% end %>
</div>

<div class="form--field">
  <%= f.check_box "is_default" %>
</div>

<% if OpenProject::Configuration.direct_uploads? %>

<%= nonced_javascript_tag do %>
  document.addEventListener('DOMContentLoaded', function() {
    const setDirectUploadFileName = function () {
      const fileNameField = document.querySelector('input[type=file]');
      const selectedFile = fileNameField?.files?.[0];
      let fileName = '';
      if (selectedFile) {
        fileName = selectedFile.name;
      }
      if (fileName.length === 0) {
        return Promise.resolve();
      }

      <%# Reset the form validity %>
      <%# See: https://developer.mozilla.org/en-US/docs/Web/API/HTMLObjectElement/setCustomValidity %>
      fileNameField?.setCustomValidity('');

      if (!fileNameField || !selectedFile) {
        return Promise.resolve();
      }

      const titleField = document.getElementById('bim_ifc_models_ifc_model_title');

      <%# When creating a new model, there is no titleField. %>
      let titleFieldValue = '';
      if (titleField) {
        titleFieldValue = titleField.value;
      }

      const title = titleFieldValue.length > 0 ? titleFieldValue : fileName;

      const isDefaultCheckbox = document.getElementById('bim_ifc_models_ifc_model_is_default');
      const body = new URLSearchParams({
        title: title,
        isDefault: isDefaultCheckbox?.checked ? 1 : 0,
        filesize: selectedFile.size
      });

      return fetch("<%= set_direct_upload_file_name_bcf_project_ifc_models_path %>", {
        method: 'POST',
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded',
          'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]')?.getAttribute('content') ?? ''
        },
        credentials: 'same-origin',
        body: body
      }).then(response => {
        if (response.status === 401) {
          document.location.reload(); // reload to make user login again
          return Promise.reject();
        }
        if (response.status === 422) {
          return response.json().then(data => {
            const errorMessage = data.error;
            fileNameField.setCustomValidity(errorMessage);
            fileNameField.reportValidity();
            return Promise.reject(errorMessage);
          });
        }
        return;
      });
    };

    const isDefaultCheckbox = document.getElementById('bim_ifc_models_ifc_model_is_default');
    if (isDefaultCheckbox) {
      isDefaultCheckbox.addEventListener('change', function(e) {
        void setDirectUploadFileName().catch(() => {});
      });
    }

    const fileInput = document.querySelector('input[type=file]');
    if (fileInput) {
      fileInput.addEventListener('change', function(e) {
        void setDirectUploadFileName().catch(() => {});

        <%# rebuild form to post to S3 directly %>
        const form = fileInput.form;
        if (form) {
          const authenticityToken = form.querySelector('input[name=authenticity_token]');
          const uriInput = form.querySelector('input[name=uri]');
          if (!authenticityToken || !(uriInput instanceof HTMLInputElement)) {
            return;
          }

          authenticityToken.remove();
          const methodInput = form.querySelector('input[name=_method]');
          if (methodInput) {
            methodInput.remove();
          }

          const url = uriInput.value;

          form.setAttribute('action', url);
          form.setAttribute('enctype', 'multipart/form-data');

          uriInput.remove();

          form.addEventListener('submit', function() {
            const titleField = document.getElementById('bim_ifc_models_ifc_model_title');
            if (titleField) {
              titleField.disabled = true;
            }
          });
        }
      });
    }

    <% unless @ifc_model.new_record? %>
      <%# The titleField might have changed AFTER selecting a file. Therefore,
          we need to intercept form submits to first send the file name etc and
          then submit.

          Also, we need take care not to end up in a submit loop. So prevent it to
          be submitted several times. %>
      let submitted = false;
      const form = document.getElementById('edit_bim_ifc_models_ifc_model_<%= @ifc_model.id %>');
      if (form) {
        form.addEventListener('submit', (e) => {
          if (submitted) { return; }

          e.preventDefault();
          setDirectUploadFileName()
            .then(() => {
              submitted = true;
              form.submit();
            })
            .catch(() => {});
        });
      }
    <% end %>
  });
<% end %>

<% end %>
